
button.markDone {
	background-color: blue !important;
	border: 0.1em solid #00241b !important;
	font-size: 0.8em;
	word-break: break-word;
	max-width: 9em;
}

.delete-button {
	word-break: break-word;
	min-width: 6em;
}

#taskList {
	display: flex;
	align-items: center;
	background-color: #5a9eec;
	width: 100%;
}

#taskCard {
	background-color: white;
	border-radius: 30px !important;
	width: 80%;
	max-width: 30em;
	height: auto;
	margin: 3em 3em;
}

#error {
	width: 20em;
}